<a href="https://colab.research.google.com/github/pragyaarya333/EDA_DA/blob/main/DA_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

# Load the dataset
url = "https://raw.githubusercontent.com/salemprakash/EDA/main/Data/Benefits.csv"
df = pd.read_csv(url)
print("Dataset Loaded Successfully")
print(df.head())

Dataset Loaded Successfully
   rownames  stateur  statemb  state  age  tenure     joblost nwhite school12  \
0         1      4.5      167     42   49      21       other     no       no
1         2     10.5      251     55   26       2  slack_work     no       no
2         3      7.2      260     21   40      19       other     no      yes
3         4      5.8      245     56   51      17  slack_work    yes       no
4         5      6.5      125     58   33       1  slack_work     no      yes

      sex bluecol smsa married dkids dykids  yrdispl        rr head   ui
0    male     yes  yes      no    no     no        7  0.290631  yes  yes
1    male     yes  yes      no   yes    yes       10  0.520202  yes   no
2  female     yes  yes     yes    no     no       10  0.432490  yes  yes
3  female     yes  yes     yes    no     no       10  0.500000   no  yes
4    male     yes  yes     yes   yes    yes        4  0.390625  yes   no

In [4]:
# 1. Create DataFrame1 'Fname'
Fname = pd.DataFrame({
    "ProductID": [4, 2001, 2002, 2003, 2004],  # First ID is last 4 digits of roll no (004)
    "NameofProd": ["Laptop", "Phone", "Tablet", "Monitor", "Keyboard"],
    "Price": [800, 500, 300, 250, 100]
})
print("\nDataFrame1 - Fname:")
print(Fname)

DataFrame1 - Fname:
   ProductID NameofProd  Price
0          4     Laptop    800
1       2001      Phone    500
2       2002     Tablet    300
3       2003    Monitor    250
4       2004   Keyboard    100

In [5]:
# 2. Create DataFrame2 'Sample'
Sample = pd.DataFrame({
    "ProductID": [3001, 3002],
    "NameofProd": ["Mouse", "Charger"],
    "Price": [20, 15]
})
print("\nDataFrame2 - Sample:")
print(Sample)

DataFrame2 - Sample:
   ProductID NameofProd  Price
0       3001      Mouse     20
1       3002    Charger     15