<a href="https://colab.research.google.com/github/pragyaarya333/EDA_DA/blob/main/DA_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

# Load the dataset
url = "https://raw.githubusercontent.com/salemprakash/EDA/main/Data/Benefits.csv"
df = pd.read_csv(url)
print("Dataset Loaded Successfully")
print(df.head())

Dataset Loaded Successfully
   rownames  stateur  statemb  state  age  tenure     joblost nwhite school12  \
0         1      4.5      167     42   49      21       other     no       no
1         2     10.5      251     55   26       2  slack_work     no       no
2         3      7.2      260     21   40      19       other     no      yes
3         4      5.8      245     56   51      17  slack_work    yes       no
4         5      6.5      125     58   33       1  slack_work     no      yes

      sex bluecol smsa married dkids dykids  yrdispl        rr head   ui
0    male     yes  yes      no    no     no        7  0.290631  yes  yes
1    male     yes  yes      no   yes    yes       10  0.520202  yes   no
2  female     yes  yes     yes    no     no       10  0.432490  yes  yes
3  female     yes  yes     yes    no     no       10  0.500000   no  yes
4    male     yes  yes     yes   yes    yes        4  0.390625  yes   no

In [4]:
# 1. Create DataFrame1 'Fname'
Fname = pd.DataFrame({
    "ProductID": [4, 2001, 2002, 2003, 2004],  # First ID is last 4 digits of roll no (004)
    "NameofProd": ["Laptop", "Phone", "Tablet", "Monitor", "Keyboard"],
    "Price": [800, 500, 300, 250, 100]
})
print("\nDataFrame1 - Fname:")
print(Fname)

DataFrame1 - Fname:
   ProductID NameofProd  Price
0          4     Laptop    800
1       2001      Phone    500
2       2002     Tablet    300
3       2003    Monitor    250
4       2004   Keyboard    100

In [5]:
# 2. Create DataFrame2 'Sample'
Sample = pd.DataFrame({
    "ProductID": [3001, 3002],
    "NameofProd": ["Mouse", "Charger"],
    "Price": [20, 15]
})
print("\nDataFrame2 - Sample:")
print(Sample)

DataFrame2 - Sample:
   ProductID NameofProd  Price
0       3001      Mouse     20
1       3002    Charger     15

In [6]:
# 3. Create DataFrame3 'Lname'
Lname = pd.DataFrame({
    "ProductID": [4, 4001, 4002, 4003, 4004],
    "Company_Location": ["USA", "UK", "India", "Germany", "Canada"]
})
print("\nDataFrame3 - Lname:")
print(Lname)

DataFrame3 - Lname:
   ProductID Company_Location
0          4              USA
1       4001               UK
2       4002            India
3       4003          Germany
4       4004           Canada

In [7]:
# 4. Append DataFrame1 and DataFrame2
Appended_DF = pd.concat([Fname, Sample], ignore_index=True)
print("\nAppended DataFrame:")
print(Appended_DF)

Appended DataFrame:
   ProductID NameofProd  Price
0          4     Laptop    800
1       2001      Phone    500
2       2002     Tablet    300
3       2003    Monitor    250
4       2004   Keyboard    100
5       3001      Mouse     20
6       3002    Charger     15

In [8]:
# 5. Combine DataFrame1 and DataFrame3 using outer join (similar to cbind in R)
Combined_DF = pd.merge(Fname, Lname, on="ProductID", how="outer")
print("\nCombined DataFrame:")
print(Combined_DF)

Combined DataFrame:
   ProductID NameofProd  Price Company_Location
0          4     Laptop  800.0              USA
1       2001      Phone  500.0              NaN
2       2002     Tablet  300.0              NaN
3       2003    Monitor  250.0              NaN
4       2004   Keyboard  100.0              NaN
5       4001        NaN    NaN               UK
6       4002        NaN    NaN            India
7       4003        NaN    NaN          Germany
8       4004        NaN    NaN           Canada

In [9]:
# 6. Merge DataFrame1 and DataFrame3 by ProductID (Inner Join)
Merged_DF = pd.merge(Fname, Lname, on="ProductID", how="inner")
print("\nMerged DataFrame:")
print(Merged_DF)

Merged DataFrame:
   ProductID NameofProd  Price Company_Location
0          4     Laptop    800              USA

In [10]:
# 7. Perform Left and Right Join
Left_Join_DF = pd.merge(Fname, Lname, on="ProductID", how="left")
Right_Join_DF = pd.merge(Fname, Lname, on="ProductID", how="right")
print("\nLeft Join DataFrame:")
print(Left_Join_DF)
print("\nRight Join DataFrame:")
print(Right_Join_DF)

Left Join DataFrame:
   ProductID NameofProd  Price Company_Location
0          4     Laptop    800              USA
1       2001      Phone    500              NaN
2       2002     Tablet    300              NaN
3       2003    Monitor    250              NaN
4       2004   Keyboard    100              NaN

Right Join DataFrame:
   ProductID NameofProd  Price Company_Location
0          4     Laptop  800.0              USA
1       4001        NaN    NaN               UK
2       4002        NaN    NaN            India
3       4003        NaN    NaN          Germany
4       4004        NaN    NaN           Canada

In [11]:
# 8. Normalize Data Function
def normalize_Rollno(data, new_min, new_max):
    old_min, old_max = min(data), max(data)
    return [( (x - old_min) / (old_max - old_min) ) * (new_max - new_min) + new_min for x in data]

# Read 10 numbers from user
user_data = [4] + [int(input(f"Enter number {i+1}: ")) for i in range(9)]
print("\nOriginal Data:", user_data)

# Normalize to different ranges
normalized_0_1 = normalize_Rollno(user_data, 0, 1)
normalized_neg1_1 = normalize_Rollno(user_data, -1, 1)
normalized_neg3_3 = normalize_Rollno(user_data, -3, 3)

print("\nNormalized [0,1]:", normalized_0_1)
print("Normalized [-1,1]:", normalized_neg1_1)
print("Normalized [-3,3]:", normalized_neg3_3)

Enter number 1: 23
Enter number 2: 45
Enter number 3: 67
Enter number 4: 98
Enter number 5: 53
Enter number 6: 92
Enter number 7: 36
Enter number 8: 77
Enter number 9: 55

Original Data: [4, 23, 45, 67, 98, 53, 92, 36, 77, 55]

Normalized [0,1]: [0.0, 0.20212765957446807, 0.43617021276595747, 0.6702127659574468, 1.0, 0.5212765957446809, 0.9361702127659575, 0.3404255319148936, 0.776595744680851, 0.5425531914893617]
Normalized [-1,1]: [-1.0, -0.5957446808510638, -0.12765957446808507, 0.34042553191489366, 1.0, 0.042553191489361764, 0.8723404255319149, -0.3191489361702128, 0.553191489361702, 0.0851063829787233]
Normalized [-3,3]: [-3.0, -1.7872340425531916, -0.3829787234042552, 1.0212765957446805, 3.0, 0.12765957446808507, 2.617021276595745, -0.9574468085106385, 1.659574468085106, 0.25531914893617014]

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset
url = "https://raw.githubusercontent.com/salemprakash/EDA/main/Data/Benefits.csv"
df = pd.read_csv(url)
print("Dataset Loaded Successfully")
print(df.head())

Dataset Loaded Successfully
   rownames  stateur  statemb  state  age  tenure     joblost nwhite school12  \
0         1      4.5      167     42   49      21       other     no       no
1         2     10.5      251     55   26       2  slack_work     no       no
2         3      7.2      260     21   40      19       other     no      yes
3         4      5.8      245     56   51      17  slack_work    yes       no
4         5      6.5      125     58   33       1  slack_work     no      yes

      sex bluecol smsa married dkids dykids  yrdispl        rr head   ui
0    male     yes  yes      no    no     no        7  0.290631  yes  yes
1    male     yes  yes      no   yes    yes       10  0.520202  yes   no
2  female     yes  yes     yes    no     no       10  0.432490  yes  yes
3  female     yes  yes     yes    no     no       10  0.500000   no  yes
4    male     yes  yes     yes   yes    yes        4  0.390625  yes   no